<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Jakarta/DTD Web Application 6.0//EN" 
    "http://xmlns.jakarta.ee/web-app_6_0.dtd">
<web-app xmlns="http://xmlns.jakarta.ee/web-app" 
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
         xsi:schemaLocation="http://xmlns.jakarta.ee/web-app http://xmlns.jakarta.ee/web-app_6_0.xsd" 
         version="6.0">

    <!-- Other configurations -->

</web-app>